* { direction: rtl; }
body{ direction: rtl; }
#page,#body_wrapper,
.block .title_block,
.sttlevel0,
#new_comment_form{ text-align: right !important; }
.flexslider, .flex-viewport, .flexslider .slides,
.camera_wrap, .cameraSlide,
#thumbs_list ul#thumbs_list_frame,
#pb-right-column #image-block #view_full_size,
div.zoomdiv,
.iosSlider, .iosSlider .slider,
table#cart_summary .cart_discount_price .price,
.cart_total_voucher .price,
#reduction_percent, #reduction_amount,
.itemlist_right .price_container span,
#cart_block table#vouchers td.price,
.sale_percentage{direction:ltr;}

.sale_percentage{display:inline-block;}
.itemlist_right .price_container span i,
.sale_percentage i{float:right;}
table#cart_summary .cart_discount_price .price{display:inline-block;}

.camera_wrap{float:none;}

#more_info_tabs li,
#pb-right-column, #pb-left-column,
.sttlevel0,
#logo_wrapper,#header_right,
#cart_block .cart-prices-item .fl, #cart_block .cart-prices-item span,
#attributes .attribute_list #color_to_pick_list li,
#product_comments_block_extra .comments_note span, #product_comments_block_extra .star_content,
#new_comment_form #criterions_list label,#new_comment_form #criterions_list .star_content,
#new_comment_form, #new_comment_form .product img,
.wrapper_block label,
.featured_categories_list li,
.pro_itemlist li,
.subcate_grid_view li,
.subcate_list_view li .img,
.grid_view #product_list .ajax_block_product,
.blog_list_grid .block_blog,
#buy_block .our_price_display, #buy_block #old_price,
.list_view #product_list .pro_first_box,
#sitemap_content div.sitemap_block,
#listpage_content div.categTree,
label[for=id_address_delivery], label[for=id_address_invoice],
.addressesAreEquals input,
.addresses ul.address,
#module-blockwishlist-mywishlist .wishlistLinkTop li,
ul.wlp_bought_list li .product_image,
ul.wlp_bought_list li .product_infos,
#avatar_left,
ul.address,
.comment_node_left,
#opc_account_choice .opc_float,
.favoriteproduct a.product_img_link,
#cart_block #cart-buttons .fl,
#new_comment_form_footer .fl{float:right!important;}

.favoriteproduct a.product_img_link{margin-right:0!important;margin-left:14px;}
.favoriteproduct .remove{right:auto!important;left:10px;}
.comment_node_right{margin-left:0!important;margin-right:66px;}
.adresses_bloc .item{margin-right:0!important;margin-left:60px;}

#avatar_right{margin-left:0!important;margin-right:148px;}
.error ol {margin-left:0!important;margin-right:20px;}

.addressesAreEquals label{margin-left:0!important;margin-right: 5px;}
#address_delivery{margin-right:0!important;margin-left:35px;}

ul.wlp_bought_list li{margin-left: 20px!important;margin-right: 0!important;}
ul.wlp_bought_list li .product_infos{margin-left:0!important;margin-right:10px;}
#address p.inline-infos,
#add_address span.form_info,
#add_address span.inline-infos,
#account-creation_form span.form_info, #account-creation_form p.inline-infos{margin-right:265px!important;margin-left:0!important;}


#cart_block #cart_block_shipping_cost, #cart_block #cart_block_total,
#cart_block #cart-buttons .fr,
#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist,
#new_comment_form_footer .fr{float:left!important;}

#buy_block .our_price_display, #buy_block #old_price{margin:0 0 0 10px!important;}
.subcate_list_view li .img{margin-right:0!important;margin-left:1em;}

#top_bar .dropdown_wrap.fl,#top_bar #header_user_info a, #top_bar #header_user_info span, #stsocial_list_topbar li a, #footer_info .fl,
#ordermsg p.txt,.payment_module img,
.category-product-count,
.viewmode,
#blog_link_nav a.fl,
#order .delivery_option_radio, #order-opc .delivery_option_radio,
div#cart_voucher,
.star,
#cart_block .quantity-formated .quantity,
.dialog_action .fl{float:right;}

#ordermsg p.txt{margin-right:0;margin-left:25px;}
.payment_module img{margin-right:0;margin-left:10px;}

#top_bar .dropdown_wrap.fr, #top_bar #header_user_info, #footer_info .fr,
.paginationBar #pagination, .paginationBar .pagination,
.sortPagiBar #productsSortForm, .sortPagiBar .productsSortForm,
.sortPagiBar .nbrItemPage,
#blog_link_nav a.fr,
table#cart_summary_total,
.dialog_action .fr{float:left;}

.sortPagiBar .nbrItemPage{margin-right:0;margin-left:10px!important;}
.pagination ul > li{display:inline-block;}
.pagination ul>li>a,
.pagination ul>li>span{border-left-width:1px;}

.aui_close,.aui_loading{text-indent:999em;}
.aui_close{right:auto;left:-16px;}

.dropdown_list {left:auto; right:0;}
.dropdown_list.dropdown_right { left:0; right:auto; }

#header_right{text-align:left;}
#header #cart_block{right:auto!important;left:0;}
#search_query_top{border-right-width:1px!important;border-right-style:solid!important; border-left-style:none!important;}

#brands_slider-column .title_block,
#featured-products_block_center .title_block,
#featured_products_sldier_block_center .title_block,
#featured_products_sldier_block_center_column .title_block,
#new-products_block_center .title_block,
#new-products_block_center_column .title_block,
#related-products_block_center .title_block,
#related-products_block_center_column .title_block,
#special-products_block_center .title_block,
#special-products_block_center_column .title_block,
#brands_slider .title_block,
#best-sellers_block_center .title_block,
.product_categories_slider_block .title_block,
.product_categories_slider_block_column .title_block,
#productscategory-products_block_center .title_block,
#crossselling-products_block_center .title_block,
#blog_related_products .title_block,
#accessories_block .title_block,
#pc_slider_tabs{ padding-left: 62px; padding-right: 0;}

.nav_top_right .flex-direction-nav { right:auto; left:0px; padding-right:6px; padding-left:0;}
.section .title_block span,.section .title_block a{padding-left:8px;padding-right:0;}

.opener, .grower{right:auto;left:0;}
.categories_tree_block li a{padding:10px 5px 10px 35px;}
.categories_tree_block li ul li a{padding:6px 5px 6px 27px;}

#layered_block_left .layered_close{float:left!important;padding-right:0!important;padding-left:5px;}

.list_view #product_list .pro_second_box{margin-left: 0!important;margin-right: 270px;}
.list_view #product_list .pro_second_box .s_title_block,
.list_view #product_list .pro_second_box .price_container,
.list_view #product_list .pro_second_box .rating_box,
.list_view #product_list .pro_second_box .product_stock_info,
.list_view #product_list .pro_second_box .product_online_only{text-align:right!important;}

.cancel, .star{text-indent: 999em;}

#new_comment_form .product .product_name, #new_comment_form .product .product_desc{margin-right:130px;margin-left:0!important;}

#my-account .myaccount_lnk_list li .icon_wrap{margin-right:0!important;margin-left:6px;}

#languages_block_top .dropdown_tri img.mar_r4, #languages_block_top .dropdown_list img.mar_r4{margin-right: 0;margin-left: 4px;}

.pro_column_left,.small_list_left,#comment_content{float:right;}
.pro_column_right{margin-left:0;margin-right:66px;}
.small_list_right{margin-left:0;margin-right:110px;}

.dialog_pro_img{float:right;}
.dialog_pro_info{float:left;}
.aui_content{text-align:right;}

#sitemap_content div.sitemap_block li a{padding:2px 10px 2px 0!important;background-position: right 6px!important;}
#footer .row .span3 .opener,
#footer .row .span6 .opener,
#footer .row .span9 .opener,
#footer .row .span12 .opener {right: auto; left:10px; }

#footer .block{float:right;}
.quantity_input_wrap{padding-right:0!important;padding-left:13px;}
.plus_op, .minus_op, .cart_quantity_up, .cart_quantity_down{right:auto!important;left:0;border:1px solid #CCCCCC!important;border-right:none!important;}
.cart_quantity .cart_quantity_input,.cart_quantity .cart_quantity_button{float:right;}
.cart_navigation .exclusive, .cart_navigation .exclusive_large{float:left;}

ul.step li{float:right;}
ul.step li a, ul.step li span{border-right-width:1px;border-left-width: 0;}
ul.step li:last-child a, ul.step li:last-child span{border-left-width:1px;}

table.std th,
table.table_block th,
table.std td,
table.table_block td,
.table th,
.table td {text-align:right;}

#account-creation_form p.checkbox input{margin-right:260px;margin-left: 0!important;}

#identity .std p.submit,
#identity .std #security_informations{padding-right:187px!important;padding-left:0!important;}
#identity .std p.checkbox input{margin-right:187px!important;margin-left:2px!important;}

.breadcrumb li{display:inline-block;}

table#product_comparison{border-right:0px!important;border-left:1px solid #e5e5e5;}

#new_account_form span.form_info,
#new_account_form span.inline-infos, #new_account_form p.inline-infos {margin-right:270px!important; margin-left:0!important;}

#order-opc #new_account_form p.submit{margin-right:0;margin-left:120px;text-align:left;}

/*block cart*/
#cart_block .remove_link, #cart_block .deleteCustomizableProduct,
#cart_block .price{float:left!important;}
#cart_block .cart_block_product_image{float:right!important;margin-right:0!important;margin-left:10px;}
#header #cart_block{text-align: right!important;}
#cart_block .quantity-formated{padding-right:0!important;padding-left:2px;}
/*block currency*/
#customer_privacy{float:right!important;}
/*block layered*/
#enabled_filters li a{right:auto!important;left:6px;}

@media only screen and (max-width: 767px) {
    #thumbs_list li{float:right!important;}
    
    #footer .title_block{padding:10px 0 10px 35px!important;}
    .list_view #product_list .pro_first_box{float:none!important;}
    .list_view #product_list .pro_second_box{margin-right:0!important;}
    
    .product_accordion .opener{right:auto!important;left:10px!important;}
    
    table#cart_summary td .mobile_table_title,
    table#order-list td .mobile_table_title,
    #shipping-detail-content table td .mobile_table_title,
    #order-detail-content table td .mobile_table_title,
    table#pending_friends_list td .mobile_table_title,
    table#friends_i_sponsord_list td .mobile_table_title,
    table#sponsor_my_friends_list td .mobile_table_title,
    table#my_vouchers_list td .mobile_table_title{float:right!important;}
    
    table#cart_summary td .mobile_table_content,
    table#order-list td .mobile_table_content,
    #shipping-detail-content table td .mobile_table_content,
    #order-detail-content table td .mobile_table_content,
    table#pending_friends_list td .mobile_table_content,
    table#friends_i_sponsord_list td .mobile_table_content,
    table#sponsor_my_friends_list td .mobile_table_content,
    table#my_vouchers_list td .mobile_table_content{margin-left:0!important;text-align:right!important;margin-right:130px;}
    
    #new_comment_form .product .product_name, #new_comment_form .product .product_desc{margin-right:0!important;}
}